@font-face {
  font-weight: 400;
  font-family: 'Roboto Mono';
  src: url('../fonst/RobotoMono-Regular.ttf');
}
body {
  font-family: 'Roboto Mono', monospace;
  background: #333131;
}
.container {
  color: whitesmoke;
}

#add-to-desktop {
  display: none;
}

iframe {
  pointer-events: none;
  width: 100%;
}

button {
  font-size: 25px;
}

#vocabulary {
  padding: 0;
  width: 100%;
}

#learn-word {
  display: none;
}

#current-word {
  font-size: 30px;
}

#suggestions {
  padding: 20px 0;
}

#suggestions button {
  margin: 10px 10px 0 0;
}
